<template>
  <div class="dashboard">
    <div class="top-bar clearfix">
      <div class="container-fluid">
        <div class="row gutter">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <h3 class="page-title">EMR Data</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="main-container">
      <div class="row gutter">
        <div class="col-sm-12">
          <div class="panel panel-light">
            <div class="panel-heading">
              <h4>Fields &amp; Conditions</h4>
            </div>
            <div class="panel-body">
              <div class="row gutter">
                <div class="col-sm-6">
                  <h4>Fields to Fetch</h4>
                  <v-select multiple v-bind:value="fieldsToFetch" :options="fields" @input="clearEmrData"></v-select>
                </div>
                <div class="col-sm-6">
                  <h4>Fields to specify conditions</h4>
                  <v-select multiple v-bind:value="fieldsWithConditions" :options="fields" @input="clearEmrData"></v-select>
                </div>
              </div>
              <div class="row gutter">
                <div class="col-sm-12">
                  <h4 v-if="fieldsWithConditions.length">Conditions</h4>
                  <div v-if="fieldsWithConditions.length" style="border: 1px solid rgba(60,60,60,.26);padding:1em;">
                    <table>
                      <tr v-for="field in fieldsWithConditions">
                        <td>{{ field }}</td>
                        <td style="padding-left:1em;">
                          <select :name="field" @change="setParamCondition($event.target)">
                            <option value="=">&#61;</option>
                            <option value=">">&gt;</option>
                            <option value=">=">&gt;&#61;</option>
                            <option value="<">&lt;</option>
                            <option value="<=">&lt;&#61;</option>
                            <option value="between">between</option>
                          </select>
                        </td>
                        <td style="padding-left:1em;"><input type="text" :name="field" @change="setParamValue($event.target)"></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row gutter">
                <div class="col-sm-6">
                  <br>
                  <button @click="getEmrData()" class="btn btn-success">Get Data</button>
                  <button @click="reset()" class="btn btn-primary">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <template v-if="displayingEmrData">
        <div class="row gutter">
          <div class="col-sm-12">
            <div class="panel panel-light">
              <div class="panel-heading">
                <h4 class="pull-left">Data</h4>
                <h4 class="pull-right">
                  <span class="label label-danger"></span>
                  <span class="label label-info"></span>
                  <span class="label label-primary"></span>
                  <span class="label label-warning"></span>
                  <button type="button" class="btn btn-sm btn-default" @click="exportEmrData('csv')"> Export to CSV</button>
                  <button type="button" class="btn btn-sm btn-success" @click="exportEmrData('xlsx')"> Export to Excel</button>
                </h4>
                <span class="clearfix"></span>
              </div>
              <div class="panel-body">
                <template v-if="emrData.length">
                  <div class="table-responsive">
                    <table class="table table-hover no-margin">
                      <thead>
                        <tr v-if="fieldsToFetch.length">
                          <th v-for="field in fieldsToFetch">{{ field }}</th>
                        </tr>
                        <tr v-else>
                          <th v-for="field in fields">{{ field }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-if="fieldsToFetch.length" v-for="emrDatum in emrData">
                          <td v-for="field in fieldsToFetch">{{ emrDatum[field] }}</td>
                        </tr>
                        <tr v-if="!fieldsToFetch.length" v-for="emrDatum in emrData">
                          <td v-for="field in fields">{{ emrDatum[field] }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </template>
                <template v-else>
                  <p>There are no data to display</p>
                </template>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex'
  import vSelect from 'vue-select'
  export default {
    name: 'emr-data',
    components: {vSelect},
    computed: {
      ...mapState({
        emrData: state => state.emrdata.emrData,
        fields: state => state.emrdata.fields,
        fieldsToFetch: state => state.emrdata.fieldsToFetch,
        fieldsWithConditions: state => state.emrdata.fieldsWithConditions,
        displayingEmrData: state => state.emrdata.displayingEmrData,
        fetchingEmrData: state => state.emrdata.fetchingEmrData
      })
    },
    methods: {
      ...mapActions([
        'getEmrData',
        'setEmrData',
        'exportEmrData',
        'getFields',
        'setDisplayingEmrData',
        'setParamValue',
        'setParamCondition'
      ]),
      clearEmrData: function () {
        this.setDisplayingEmrData(false)
        this.setEmrData([])
      },
      reset: function () {
        this.clearEmrData()
        this.getFields()
        this.$store.commit('setFieldsToFetch', { data: [] })
        this.$store.commit('setFieldsWithConditions', { data: [] })
      }
    },
    beforeMount () {
      this.getFields()
      this.setDisplayingEmrData(false)
    }
  }
</script>