<template>
  <v-container fluid fill-height wrap>
    <v-container fluid fill-height wrap>
    <iframe src="https://app.powerbi.com/view?r=eyJrIjoiNGVhYzZkYzYtZjM2Yy00OGI1LTlhMzQtMzBlNTlmNWNiMzRhIiwidCI6ImFmMzA2OTY1LWI1Y2UtNDZmNi1iOTgxLWJmYjI1NTFmMjAyYSIsImMiOjh9" allowFullScreen="true" align="middle" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </v-container>

  </v-container>
</template>

<script>
  export default {
    name: 'dashboard',
    components: { },
    beforeMount () {
      document.title = 'Dashboard'
    }
  }
</script>

<style scoped>
  .container {
    padding: 0;
    align-content: center;
  }
</style>