<template>
  <v-footer class="pa-3">
    <v-spacer></v-spacer>
    <div>© CHS-SHINDA{ new Date().getFullYear() }}</div>
  </v-footer>
</template>

<script>
  export default {
    name: 'bottom-bar'
  }
</script>