<template>
  <v-toolbar dark color="indigo darken-4">
    <v-toolbar-title>SHINDA EMR DWH</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-tab :color="$route.fullPath ==='/dashboard' ? 'orange': 'info'" :to="{ name: 'dashboard'}"><v-icon>dashboard</v-icon>&nbsp;Dashboard</v-tab>
    <!--<v-tab :color="$route.fullPath ==='/summary' ? 'orange': 'success'" :to="{ name: 'summary'}">Summary</v-tab>-->
    <v-tab :color="$route.fullPath ==='/backups' ? 'orange': 'secondary'" :to="{ name: 'backups'}"><v-icon>backup</v-icon>&nbsp;Backups</v-tab>
    <v-tab :color="$route.fullPath ==='/query' ? 'orange': 'secondary'" :to="{ name: 'query'}"><v-icon>table_view</v-icon>&nbsp;Custom Report</v-tab>
    <v-tab :color="$route.fullPath ==='/#' ? 'orange': 'success'" :to="{ name: '#'}"><v-icon>folder</v-icon>&nbsp;Reports</v-tab>    
    <v-spacer></v-spacer>
    <v-tab color="red" icon="chat_bubble" href="https://cris.chskenya.org"><v-icon>logout</v-icon>&nbsp;Exit</v-tab>
  </v-toolbar>
</template>

<script>
  export default {
    name: 'top-bar'
  }
</script>

