<template>
  <div>
    <div v-if="!displayEmrData">
      <v-stepper v-model="currentStep">
        <v-stepper-header>
          <v-stepper-step step="1" :complete="currentStep > 1">Facility</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="2" :complete="currentStep > 2">Data</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="3" :complete="currentStep > 3">Filter Fields</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="4">Submit</v-stepper-step>
        </v-stepper-header>
        <v-stepper-items>
          <v-stepper-content step="1">
            <v-card class="mb-12">
              <v-card class="ma-1 mb-2 pt-1 pl-3 pr-3">
                <v-text-field label="Search" v-model="searchFacilities"></v-text-field>
              </v-card>
              <v-card height="350px" class="ma-1 pa-3" style="overflow: auto">
                <div v-for="facility in filteredFacilities" :key="facility.id">
                  <v-checkbox :label="facility.name" v-model="queryFacilities" :value="facility.id"></v-checkbox>
                </div>
              </v-card>
              <v-btn color="primary" @click.native="currentStep = 2" :disabled="queryFacilities.length <= 0">Proceed</v-btn>
            </v-card>
          </v-stepper-content>
          <v-stepper-content step="2">
            <v-layout row wrap>
              <v-flex xs4>
                <v-card class="ma-1 mb-2 pt-1 pl-3 pr-3">
                  <v-text-field label="Search Facility Fields" v-model="searchFacilityFields"></v-text-field>
                </v-card>
                <v-card height="350px" class="ma-1 pa-3" style="overflow: auto">
                  <div v-for="field in filteredFacilityFields" :key="field">
                    <v-checkbox :label="field|facilityFields" v-model="queryFields" :value="field"></v-checkbox>
                  </div>
                </v-card>
              </v-flex>
              <v-flex xs4>
                <v-card class="ma-1 mb-2 pt-1 pl-3 pr-3">
                  <v-text-field label="Search Patient Fields" v-model="searchPatientFields"></v-text-field>
                </v-card>
                <v-card height="350px" class="ma-1 pa-3" style="overflow: auto">
                  <div v-for="field in filteredPatientFields" :key="field">
                    <v-checkbox :label="field|patientFields" v-model="queryFields" :value="field"></v-checkbox>
                  </div>
                </v-card>
              </v-flex>
              <v-flex xs4>
                <v-card class="ma-1 mb-2 pt-1 pl-3 pr-3">
                  <v-text-field label="Search Visit Fields" v-model="searchVisitFields"></v-text-field>
                </v-card>
                <v-card height="350px" class="ma-1 pa-3" style="overflow: auto">
                  <div v-for="field in filteredVisitFields" :key="field">
                    <v-checkbox :label="field|visitFields" v-model="queryFields" :value="field"></v-checkbox>
                  </div>
                </v-card>
              </v-flex>
            </v-layout>
            <v-btn color="primary" @click.native="currentStep = 3" :disabled="queryFields.length <= 0">Next</v-btn>
            <v-btn color="danger" @click.native="currentStep = 1">Previous</v-btn>
          </v-stepper-content>
          <v-stepper-content step="3">
            <v-layout row wrap v-for="(row, index) in conditions" :key="row[index]">
              <v-flex xs3 sm3 pr-2>
                <v-select v-model="row.field" label="Field" v-bind:items="fields" autocomplete></v-select>
              </v-flex>
              <v-flex xs3 sm3 pr-2>
                <v-select v-model="row.condition" label="Operator" v-bind:items="['=', '>', '>=', '<', '<=']"></v-select>
              </v-flex>
              <v-flex xs3 sm3 pr-2>
                <v-text-field v-model="row.value" label="Value"></v-text-field>
              </v-flex>
              <v-flex xs3 sm3 pr-2>
                <v-btn color="danger" @click="removeCondition(index)">Remove</v-btn>
              </v-flex>
            </v-layout>
            <v-btn color="default" @click="addCondition">Add Filter</v-btn>
            <v-btn color="primary" @click.native="currentStep = 4">Next</v-btn>
            <v-btn color="danger" @click.native="currentStep = 2">Previous</v-btn>
          </v-stepper-content>
          <v-stepper-content step="4">
            <v-card flat>
              <v-card-text>
                <span style="font-size:1.2em">Line list format:</span>
                <v-radio-group v-model="emrDataType">
                  <v-radio label="Patients Profiles Only" value="patients"></v-radio>
                  <v-radio label="Patients and Visits" value="visits"></v-radio>
                </v-radio-group><br>
                <span style="font-size:1.2em">View or Download:</span>
                <v-radio-group v-model="emrDataView">
                  <v-radio label="View" value="view" @change="format = 'json'"></v-radio>
                  <v-radio label="Download" value="download"></v-radio>
                </v-radio-group>
                <v-select v-if="emrDataView === 'download'" v-model="format" label="Format" v-bind:items="['csv', 'xlsx']"></v-select>
              </v-card-text>
            </v-card>
            <v-btn color="success" @click="$store.dispatch('getEmrData', { queryFacilities: queryFacilities, queryFields: queryFields, conditions: conditions, emrDataType: emrDataType, format: format })">Process</v-btn>
            <v-btn color="primary" @click.native="currentStep = 3">Previous</v-btn>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </div>
    <div v-if="displayEmrData">
      <v-card>
        <v-card-title>
          <v-btn color="primary" small @click="$store.dispatch('setDisplayEmrData', false)"><v-icon>arrow_back</v-icon></v-btn>
          EMR Data ({{ items.length }})
          <v-spacer></v-spacer>
          <v-text-field append-icon="search" label="Search" single-line hide-details v-model="search"></v-text-field>
        </v-card-title>
        <v-data-table v-bind:headers="headers" v-bind:items="items" v-bind:search="search">
          <template slot="items" slot-scope="props">
            <td v-for="field in queryFields" class="text-xs-left">{{ props.item[field.replace('.', '_')] }}</td>
          </template>
          <template slot="pageText" slot-scope="{ pageStart, pageStop }">
            From {{ pageStart }} to {{ pageStop }}
          </template>
        </v-data-table>
      </v-card>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex'
  export default {
    name: 'query',
    computed: {
      ...mapState({
        displayEmrData: state => state.emrdata.displayEmrData,
        emrData: state => state.emrdata.emrData,
        fields: state => state.emrdata.fields,
        facilities: state => state.facility.facilities
      }),
      filteredFacilities () {
        return this.facilities.filter(facility => {
          return facility.name.toLowerCase().indexOf(this.searchFacilities.toLowerCase()) > -1
        })
      },
      filteredFacilityFields () {
        return this.fields.filter(field => {
          return field.toLowerCase().indexOf('facility.' + this.searchFacilityFields.toLowerCase()) > -1
        })
      },
      filteredPatientFields () {
        return this.fields.filter(field => {
          return field.toLowerCase().indexOf('patient.' + this.searchPatientFields.toLowerCase()) > -1
        })
      },
      filteredVisitFields () {
        return this.fields.filter(field => {
          return field.toLowerCase().indexOf('visit.' + this.searchVisitFields.toLowerCase()) > -1
        })
      },
      headers () {
        var headers = []
        this.queryFields.filter(field => {
          headers.push({ text: field.toUpperCase(), value: field.replace('.', '_'), align: 'left' })
        })
        return headers
      },
      items () {
        var emrData = []
        this.emrData.forEach(function (emr) {
          emrData.push(emr)
        })
        return emrData
      }
    },
    data: () => ({
      conditions: [],
      currentStep: 0,
      emrDataType: 'patients',
      format: 'json',
      queryFacilities: [],
      queryFields: [],
      searchFacilities: '',
      searchFacilityFields: '',
      searchPatientFields: '',
      searchVisitFields: '',
      emrDataView: 'view',
      search: '',
      pagination: {}
    }),
    methods: {
      ...mapActions([
        'getFacilities',
        'getFields',
        'getEmrData',
        'setDisplayEmrData'
      ]),
      addCondition: function () {
        this.conditions.push({ field: '', condition: '', value: '' })
      },
      removeCondition: function (index) {
        this.conditions.splice(index, 1)
      }
    },
    filters: {
      facilityFields: function (value) {
        if (!value) return ''
        value = value.toString()
        return value.replace('facility.', '')
      },
      patientFields: function (value) {
        if (!value) return ''
        value = value.toString()
        return value.replace('patient.', '')
      },
      visitFields: function (value) {
        if (!value) return ''
        value = value.toString()
        // return value.charAt(0).toUpperCase() + value.slice(1)
        return value.replace('visit.', '')
      }
    },
    beforeMount () {
      document.title = 'Query'
      this.$store.dispatch('getFacilities')
      this.$store.dispatch('getFields')
    }
  }
</script>