<template>
  <div>
    <v-toolbar flat color="white">
      <v-toolbar-title>EMR BACKUPS</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field append-icon="search" label="Search" single-line hide-details v-model="search"></v-text-field>
      <v-spacer></v-spacer>
      <v-btn color="indigo darken-4" dark class="mb-2"@click.stop="showNewEmrBackupFileDialog(true)"><v-icon>cloud_upload</v-icon>&nbsp; Upload Backup</v-btn>
      <v-btn color="default" dark @click.stop="exportEmrBackupFiles('csv')"><v-icon>download</v-icon>&nbsp; Download List</v-btn>
    </v-toolbar>
    <v-card>
      <v-data-table :headers="headers" :items="items" :loading="!items.length" :search="search" hide-actions>
        <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
        <template slot="items" slot-scope="props">
          <td class="text-xs-left">{{ props.item.code }}</td>
          <td class="text-xs-left">{{ props.item.name }}</td>
          <td class="text-xs-left">{{ props.item.county }}</td>
          <td class="text-xs-left">{{ props.item.sub_county }}</td>
          <td class="text-xs-left">{{ props.item.emr_type }}</td>
          <td class="text-xs-left">{{ props.item.last_updated }}</td>
        </template>
        <template slot="pageText" slot-scope="{ pageStart, pageStop }">
          From {{ pageStart }} to {{ pageStop }}
        </template>
      </v-data-table>
      <v-dialog v-model="newEmrBackupFileDialogVisible" max-width="500px" :persistent="true">
        <v-card>
          <v-layout justify-center>
            <v-card-title>
              <h2>UPLOAD EMR BACKUP</h2>
            </v-card-title>
          </v-layout>
          <hr>
          <v-card-text v-if="dialogInProgress" style="text-align: center;">
            <p>Upload in progress</p>
            <v-progress-linear v-model="uploadProgress"></v-progress-linear>
            <h2>{{ uploadProgress.toFixed(2) }} %</h2>
          </v-card-text>
          <v-card-text v-if="!dialogInProgress">
            <v-autocomplete v-model="emrBackupFile.emrTypeId" :items="emrTypes" label="EMR Type" item-value="id" item-text="name"></v-autocomplete>
            <v-autocomplete v-model="emrBackupFile.facilityId" :items="facilities" label="Facility" item-value="id" item-text="name"></v-autocomplete>
            <br>
            <label class="control-label">Select Backup File: </label>
            <input type="file" v-on:change="addBackupFile($event.target.files[0] || $event.dataTransfer.files[0])">
          </v-card-text>
          <br><hr>
          <v-layout justify-center>
            <v-card-actions>
              <v-btn color="primary" flat @click="showNewEmrBackupFileDialog(false)" :disabled="dialogInProgress">Close</v-btn>
              <v-btn color="primary" @click="saveEmrBackupFile" :disabled="dialogInProgress">Save</v-btn>
            </v-card-actions>
          </v-layout>
        </v-card>
      </v-dialog>
    </v-card>
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex'
  export default {
    name: 'backups',
    computed: {
      ...mapState({
        emrBackupFile: state => state.emrbackupfile.emrBackupFile,
        emrBackupFiles: state => state.emrbackupfile.emrBackupFiles,
        newEmrBackupFileDialogVisible: state => state.emrbackupfile.newEmrBackupFileDialogVisible,
        facilities: state => state.facility.facilities,
        emrTypes: state => state.emrtype.emrTypes,
        dialogInProgress: state => state.emrbackupfile.dialogInProgress,
        uploadProgress: state => state.emrbackupfile.uploadProgress
      }),
      items () {
        var backs = []
        for (var i = 0; i < this.emrBackupFiles.length; i++) {
          backs.push({
            value: false,
            code: this.emrBackupFiles[i].code,
            name: this.emrBackupFiles[i].name,
            county: this.emrBackupFiles[i].county,
            sub_county: this.emrBackupFiles[i].sub_county,
            emr_type: this.emrBackupFiles[i].emr_type,
            last_updated: this.emrBackupFiles[i].last_updated
          })
        }
        return backs
      }
    },
    beforeMount () {
      this.$store.dispatch('getFacilities')
      this.$store.dispatch('getEmrTypes')
      this.$store.dispatch('getEmrBackupFiles')
      document.title = 'Backups'
    },
    data: () => ({
      max25chars: (v) => v.length <= 25 || 'Input too long!',
      tmp: '',
      search: '',
      pagination: {},
      headers: [
        { text: 'Code', value: 'code', align: 'left' },
        { text: 'Name', value: 'name', align: 'left' },
        { text: 'County', value: 'county', align: 'left' },
        { text: 'Sub County', value: 'sub_county', align: 'left' },
        { text: 'EMR', value: 'emr_type', align: 'left' },
        { text: 'Last Updated', value: 'last_updated', align: 'left' }
      ]
    }),
    watch: {
      newEmrBackupFileDialogVisible (val) {
        val || this.closeNewEmrBackupFileDialog()
      }
    },
    created () {},
    methods: {
      ...mapActions([
        'addBackupFile',
        'getFacilities',
        'getEmrTypes',
        'getEmrBackupFiles',
        'saveEmrBackupFile',
        'showNewEmrBackupFileDialog',
        'exportEmrBackupFiles'
      ]),
      closeNewEmrBackupFileDialog () {
        this.$store.dispatch('showNewEmrBackupFileDialog', false)
      }
    }
  }
</script>