<template>
  <v-app id="DWH">
    <top-bar></top-bar>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
  import TopBar from './components/TopBar'
  export default {
    components: {
      TopBar
    },
    data: () => ({
      dialog: false,
      drawer: true
    }),
    props: {
      source: String
    }
  }
</script>